body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#dateTime{
  width: 10rem;
  height: 10rem;
  background: #adc875;
}

#dDay{
  width: 20rem;
  height: 20em;
  background: rgba(123, 79, 226, 0.42);
}

#weather{
  width: 30rem;
  height: 30rem;
  background: rgba(247, 86, 164, 0.42);
}

#dailyList{
  width: 40rem;
  height: 35rem;
  background: #61dafb;
}